USE [master]
GO
/****** Object:  Database [A-amman uni]    Script Date: 4/9/2025 6:16:31 PM ******/
CREATE DATABASE [A-amman uni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'A-amman uni', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\A-amman uni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'A-amman uni_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\A-amman uni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [A-amman uni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [A-amman uni]
GO
/****** Object:  Table [dbo].[AAU_INFO]    Script Date: 4/9/2025 6:16:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AAU_INFO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[التخصص] [nvarchar](255) NULL,
	[الكلية] [nvarchar](255) NULL,
	[الحقل] [nvarchar](255) NULL,
	[معدل القبول] [nvarchar](50) NULL,
	[الساعات] [int] NULL,
	[السعر] [int] NULL,
 CONSTRAINT [PK_MEU_INFO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AAU_INFO] ON 

INSERT [dbo].[AAU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (1, N'الصيدلة', N'كلية الصيدلة', N'صحي', N'80%', 162, 130)
INSERT [dbo].[AAU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (2, N'التمريض', N'كلية التمريض', N'صحي', N'70%', 132, 90)
INSERT [dbo].[AAU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (3, N'السمع والنطق', N'كلية العلوم الطبية المساندة', N'صحي', N'70%', 132, 100)
SET IDENTITY_INSERT [dbo].[AAU_INFO] OFF
GO
USE [master]
GO
