
/****** Object:  Table [dbo].[MEU_INFO]    Script Date: 4/9/2025 12:43:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEU_INFO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[التخصص] [nvarchar](255) NULL,
	[الكلية] [nvarchar](255) NULL,
	[الحقل] [nvarchar](255) NULL,
	[معدل القبول] [nvarchar](50) NULL,
	[الساعات] [int] NULL,
	[السعر] [int] NULL,
 CONSTRAINT [PK_MEU_INFO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MEU_INFO] ON 

INSERT [dbo].[MEU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (1, N'مستحضرات التجميل وتكنولوجيا الكيمياء', N'كلية صيدله', N'صحي', N'70%', 136, 100)
INSERT [dbo].[MEU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (2, N'صيدله', N'كلية صيدله', N'صحي', N'80%', 165, 130)
INSERT [dbo].[MEU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (3, N'تمريض', N'كلية التمريض', N'صحي', N'70%', 134, 90)
SET IDENTITY_INSERT [dbo].[MEU_INFO] OFF
GO
USE [master]
GO
