USE [master]
GO
/****** Object:  Database [test_paths]    Script Date: 5/2/2025 4:20:54 PM ******/
CREATE DATABASE [test_paths]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test_paths', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\test_paths.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test_paths_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\test_paths_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test_paths].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test_paths]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/2/2025 4:20:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AAU_INFO]    Script Date: 5/2/2025 4:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AAU_INFO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[التخصص] [nvarchar](255) NULL,
	[الكلية] [nvarchar](255) NULL,
	[الحقل] [nvarchar](255) NULL,
	[معدل_القبول] [nvarchar](50) NULL,
	[الساعات] [int] NULL,
	[السعر] [int] NULL,
 CONSTRAINT [PK_AAU_INFO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MEU_INFO]    Script Date: 5/2/2025 4:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEU_INFO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[التخصص] [nvarchar](255) NULL,
	[الكلية] [nvarchar](255) NULL,
	[الحقل] [nvarchar](255) NULL,
	[معدل_القبول] [nvarchar](50) NULL,
	[الساعات] [int] NULL,
	[السعر] [int] NULL,
 CONSTRAINT [PK_MEU_INFO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU_INFO]    Script Date: 5/2/2025 4:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU_INFO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[التخصص] [nvarchar](255) NULL,
	[الكلية] [nvarchar](255) NULL,
	[الحقل] [nvarchar](255) NULL,
	[معدل_القبول] [nvarchar](50) NULL,
	[الساعات] [int] NULL,
	[السعر] [int] NULL,
 CONSTRAINT [PK_PHU_INFO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TS]    Script Date: 5/2/2025 4:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TS] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unis]    Script Date: 5/2/2025 4:20:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[GPA] [real] NULL,
 CONSTRAINT [PK_Unis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250314211921_first_mig', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250316212326_second', N'9.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250316212744_second1.1', N'9.0.3')
GO
SET IDENTITY_INSERT [dbo].[AAU_INFO] ON 

INSERT [dbo].[AAU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (1, N'الصيدلة', N'كلية الصيدلة', N'صحي', N'80%', 162, 130)
INSERT [dbo].[AAU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (2, N'التمريض', N'كلية التمريض', N'صحي', N'70%', 132, 90)
INSERT [dbo].[AAU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (3, N'السمع والنطق', N'كلية العلوم الطبية المساندة', N'صحي', N'70%', 132, 100)
SET IDENTITY_INSERT [dbo].[AAU_INFO] OFF
GO
SET IDENTITY_INSERT [dbo].[MEU_INFO] ON 

INSERT [dbo].[MEU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (1, N'مستحضرات التجميل وتكنولوجيا الكيمياء', N'كلية صيدله', N'صحي', N'70%', 136, 100)
INSERT [dbo].[MEU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (2, N'صيدله', N'كلية صيدله', N'صحي', N'80%', 165, 130)
INSERT [dbo].[MEU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (3, N'تمريض', N'كلية التمريض', N'صحي', N'70%', 134, 90)
SET IDENTITY_INSERT [dbo].[MEU_INFO] OFF
GO
SET IDENTITY_INSERT [dbo].[PHU_INFO] ON 

INSERT [dbo].[PHU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (2, N'صيدله', N'كلية صيدله', N'صحي', N'80%', 160, 80)
INSERT [dbo].[PHU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (3, N'تمريض', N'كلية التمريض', N'صحي', N'70%', 132, 50)
INSERT [dbo].[PHU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل_القبول], [الساعات], [السعر]) VALUES (4, N'العلاج الطبيعي', N'كلية العلوم الطبية المساندة', N'صحي', N'70%', 132, 50)
SET IDENTITY_INSERT [dbo].[PHU_INFO] OFF
GO
SET IDENTITY_INSERT [dbo].[TS] ON 

INSERT [dbo].[TS] ([id], [name], [description]) VALUES (1, N'adad', N'adad')
SET IDENTITY_INSERT [dbo].[TS] OFF
GO
SET IDENTITY_INSERT [dbo].[Unis] ON 

INSERT [dbo].[Unis] ([Id], [Name], [GPA]) VALUES (1, N'AAU', 3.5)
INSERT [dbo].[Unis] ([Id], [Name], [GPA]) VALUES (2, N'PHU', 3.3)
INSERT [dbo].[Unis] ([Id], [Name], [GPA]) VALUES (3, N'MEU', 2.2)
SET IDENTITY_INSERT [dbo].[Unis] OFF
GO
ALTER TABLE [dbo].[Unis] ADD  CONSTRAINT [DF__Unis__GPA__3B75D760]  DEFAULT (CONVERT([real],(0))) FOR [GPA]
GO
USE [master]
GO
