USE [master]
GO
/****** Object:  Database [philadelphia uni]    Script Date: 4/9/2025 6:17:08 PM ******/
CREATE DATABASE [philadelphia uni]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'philadelphia uni', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\philadelphia uni.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'philadelphia uni_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\philadelphia uni_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [philadelphia uni].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [philadelphia uni]
GO
/****** Object:  Table [dbo].[PHU_INFO]    Script Date: 4/9/2025 6:17:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU_INFO](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[التخصص] [nvarchar](255) NULL,
	[الكلية] [nvarchar](255) NULL,
	[الحقل] [nvarchar](255) NULL,
	[معدل القبول] [nvarchar](50) NULL,
	[الساعات] [int] NULL,
	[السعر] [int] NULL,
 CONSTRAINT [PK_MEU_INFO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PHU_INFO] ON 

INSERT [dbo].[PHU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (2, N'صيدله', N'كلية صيدله', N'صحي', N'80%', 160, 80)
INSERT [dbo].[PHU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (3, N'تمريض', N'كلية التمريض', N'صحي', N'70%', 132, 50)
INSERT [dbo].[PHU_INFO] ([Id], [التخصص], [الكلية], [الحقل], [معدل القبول], [الساعات], [السعر]) VALUES (4, N'العلاج الطبيعي', N'كلية العلوم الطبية المساندة', N'صحي', N'70%', 132, 50)
SET IDENTITY_INSERT [dbo].[PHU_INFO] OFF
GO
USE [master]
GO
